@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Roboto, serif;
  height: 100%;
  width: 100%;
  }




/*.wrapper{
  overflow: hidden;
  min-height: 100%;
}


.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

}
.main-screen {
  flex: 1 0 100%;
  position: relative;

}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}*/



/*Секция - 1*/


.s-1 {
  width: 100%;
  height: 100%;
  background: url(../img/background/background-1.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 70px;
}
.container {
  max-width: 970px;
  max-height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

/*Шапка */


.header {
  display: flex;
  flex: 1 0 100%;
  justify-content: space-between;
  line-height: 50px;
  padding: 15px 0px 0px 0px;
}


.logo__label{
  font-size: 30px;
  font-weight: 100;
  color: #37acc6;
  margin: 0px 0px 0px 7px;
}

.menu__nav {
  display: flex;
}
.menu__link {
  color: #fff;
  font-weight: 900;
  font-size: 13px;
  line-height: auto;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin: 0px 0px 0px 25px;
  
}
.menu__link:hover {
  color: #00e0d0;
  transition: color 0.5s;
}
/*Меню бургер*/
  .header__menu {
    display: none;
  }
 .icon-menu {
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    top: 24px;
    right: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span{
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child{
    top: 0;
  }
  .icon-menu span:last-child{
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }


/*Центральный контент*/


.content {
  max-width: 780px;
  margin: 180px auto 0px auto;
}
.content__title {
  position: relative;
  font-family: 'Playfair Display';
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.1px;
  text-align: center;
  padding: 0px 0px 25px 0px;
}
.content__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  transform-origin: center;
    left: 50%;
    transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
}

.content__text {
  color: #fff;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 30px 0px 50px 0px;



/*Кнопка*/


}
.btn {
  display: block;
  font-family: 'Hammersmith One';
  width: 120px;
  
  text-transform: uppercase;
  text-decoration: none;

  font-size: 16px;
  padding: 14px 0px;
  text-align: center;
  color: #00e0d0;
  cursor: pointer;

  border: 1px solid #00e0d0;
  border-radius: 4px;
 
}
.btn:hover {
  background-color: #ffffff;
  transition: background-color 0.6s;
  border-color: #ffffff
}
.s-1 .btn{
  margin: 0 auto;
}



/*Слайдер кнопки*/


input[type="radio"] {
  display: none;
}
.slider-controls {
  text-align: center;
  margin-top: 140px;
}

.slider-controls label {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: none;
  border-radius: 50%;
  border: 2px solid #bab9bc;
  
  margin-right: 2px;
  cursor: pointer;
}

#check-1:checked ~ .slider-controls label[for="check-1"] {
  background-color: #00e0d0;
  border-color: #00e0d0;
}
#check-2:checked ~ .slider-controls label[for="check-2"] {
  background-color: #00e0d0;
  border-color: #00e0d0;
}
#check-3:checked ~ .slider-controls label[for="check-3"] {
  background-color: #00e0d0;
  border-color: #00e0d0;
}
#check-4:checked ~ .slider-controls label[for="check-4"] {
  background-color: #00e0d0;
  border-color: #00e0d0;
}



/*Медиа секция 1*/

@media(max-width: 767px){
  .header__menu{
    display: block;
  }
  .menu{
    display: none;
  }
  .content{
    margin-top: 80px;
  }
  .slider-controls {
    margin-top: 40px;
  }
 
}

/*Секция 2*/

.s-2__content{
  display: flex;
  justify-content: space-between;
  padding: 70px 0px;
}


.logo__main {
  display: block;
  max-width: 235px;
  max-height: 229px;
  margin: 0px 15px 0px 60px;
}

.s-2__block{
max-width: 540px;
}

.title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #413d4b;
}
.s-2__block__text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 22px;
  color: #413d4b;
  margin: 15px 0px 0px 0px;
  opacity: 0.75;
}

/*Кнопка*/

.s-2 .btn{
  margin: 35px 0px 0px 0px;
  color: #413d4b;
  border-color: #413d4b;
}
.s-2 .btn:hover {
  color: #fff;
  background-color: #413d4b;
  border-color: #413d4b;
  transition: all 0.5s;
}

/*Медиа секция 2*/

@media(max-width: 950px){
  .logo__main{
    margin: 0px 15px 0px 50px;
  }
}
@media(max-width: 925px){
  .logo__main{
    margin: 0px 15px 0px 40px;
  }
}
@media(max-width: 900px){
  .logo__main{
    margin: 0px 15px 0px 30px;
  }
}
@media(max-width: 875px){
  .logo__main{
    margin: 0px 15px 0px 20px;
  }
}
@media(max-width: 850px){
  .logo__main{
    margin: 0px 15px 0px 10px;
  }
}
@media(max-width: 825px){
  .logo__main{
    margin: 0px 15px 0px 0px;
  }
}
@media(max-width: 470px){
  .s-2__content{
    display: block;
  }
  .logo__main{
    float: left;
  }
  .s-2 .btn{
    margin: 30px auto 0px auto;
  }
}
@media(max-width: 429px){
  .logo__main{
    width: 30%;
    height: 30%;
  }
}

/*Секция 3*/

.s-3 {
  max-width: 100%;
  height: 550px;
  background: url(../img/background/background-2.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.s-3__content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.content__logo-play{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: url(../img/png_logos/play.png);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}
.content__logo-play:hover{
  background: url(../img/png_logos/play_hover.png);
  transition: all 0.4s;
}
.s-3__content__title{
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;

  margin: 32px 0px 0px 0px;
}



/*Секция 4*/
.s-4{
  padding: 70px 0;
}


/*Заголовки*/

.s-4 .title {
  text-align: center;
}
.subtitle {
  position: relative;
  text-align: center;
  padding: 16px 0px 18px 0px;

  font-family: 'Playfair Display';
  font-size: 14px;
  letter-spacing: 0.75px;
  color: #2f2d35;
  opacity: 0.75;
}
.s-4 .subtitle::after{
  content: "";
  position: absolute;
  bottom: 0;
  transform-origin: center;
    left: 50%;
    transform: translateX(-50%);
  
  width: 50px;
  height: 2px;
  background-color: #c6c4c9;
}

/*Таблица*/

.expertise-block {
  display: flex;
  flex-wrap: wrap;
  margin: 48px 0px 0px 0px;
}
.expertise-block__direction {
  max-width: 33.333%;
  box-sizing: border-box;
  text-align: center;
  padding: 40px 30px 35px 30px;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.expertise-block__direction:nth-child(3n){
  border-right: none;
}
.expertise-block__direction:nth-child(4), .expertise-block__direction:nth-child(5), .expertise-block__direction:nth-child(6){
  border-bottom: none;
}
.direction__icon {
  height: 50px;
}
.direction__title {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #413d4b;
  text-transform: uppercase;
  margin: 35px 0px 25px 0px;

}
.direction__text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: #413d4b;
  opacity: 0.75;
}


/*Медиа секция 4*/

@media(max-width: 767px){
  .s-4{
  padding: 40px 0;
  }
  .expertise-block__direction{
    max-width: 50%;
    border:none;  
  }
  .expertise-block__direction:nth-child(odd){
    border-right: 1px solid #ebebeb;
  }
  .expertise-block__direction:nth-child(even){
    border-right: none;
  }
  .expertise-block__direction:not(:last-child):not(:nth-last-child(2)){
    border-bottom: 1px solid #ebebeb;
  }
}
@media(max-width: 600px){
  .expertise-block{
    margin: 15px 0px 0px 0px;
  }
  .expertise-block .expertise-block__direction{
    max-width: 100%;
    border-right: none;
    padding: 25px 30px 25px 30px;
  }
  .expertise-block__direction:not(:last-child){
    border-bottom: 1px solid #ebebeb;
  }
  .direction__title{
    margin: 20px 0px 15px 0px;
  } 
}


/*Секция 5*/


 /*Заголовки*/


.s-5 {
  max-width: 100%;
  max-height: 100%;
  background: url(../img/background/background-3.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 70px 0;
}

.s-5 .title, .s-5 .subtitle {
  text-align: center;
  color: #fff;
}
.s-5 .subtitle::after{
  content: "";
  position: absolute;
  bottom: 0;
  transform-origin: center;
    left: 50%;
    transform: translateX(-50%);
  
  width: 50px;
  height: 2px;
  background-color: #655c80;
}


/*Блок с картами*/


.cards {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 47px 0px 0px 0px; 
}

.cards__person {
  box-sizing: border-box;
  width: 220px;
  
  margin: 0px 20px 0px 0px;
}

.cards__person:last-child{
  margin-right: 0;
}
.cards__photo {
  /*background: url(../img/png_logos/Placeholder.jpg);*/
  max-width: 220px;
  height: 229px;
  
}   
.cards__photo__photo{
  width: 100%;
  height: 100%;
}
.cards__description{

  padding: 19px 0px 27px 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);;
}
.cards__name {
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.cards__specialty {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0px 0px 0px;
}

/*Нижняя часть*/
/*+*/
/*Кнопка*/
.s-5__text{
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
  margin: 70px 0px 30px 0px;
}
.s-5 .btn{
  margin: 0 auto;
  width: 140px;
}



/*Медиа секция 5*/




@media(max-width: 970px){
  .cards{
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;

  }
  .cards__person{
    width: 50%;
    text-align: center;
    margin: 0px auto 0px auto;
  }
  .cards__person:nth-child(3), .cards__person:nth-child(4){
    margin-top: 30px;
  }
  .middle-pos-case{
    width: 220px;
    margin: 0 auto;
  }
  .s-5__text{
    margin-top: 35px;
  }
}

@media(max-width: 520px){
  .cards{
    flex-direction: column;
    margin-top: 25px;
  }
  .cards__person{
    width: 100%;
  }
  .cards__person:nth-child(2) {
    margin-top: 30px;
  }
  .cards__description{
    padding: 13px 0px 20px 0px;
  }
}



/*Секция 6*/

.s-6{
  padding: 70px 0;
 
}
.s-6__header{
  display: flex;
  justify-content: space-between;
  line-height: 22px;
}
.all-proj{
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #413d4b;

  position: relative;
  padding: 0px 19px 0px 0px;
}
.all-proj::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #413d4b;
  border-right: 1px solid #413d4b;
  transform: rotate(45deg);
}
.all-proj:hover, .all-proj:hover::after{
  color: #ccc;
  border-color: #ccc;
}
.projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 1602px;
  padding: 70px 0;
  margin: 0 auto;
}
.projects__item{
  max-width: 267px;
  height: 200px;
}
.projects__item img{
  width: 100%;
  height: 100%;
}
.s-6 .btn{
margin: 0 auto;
color: #413d4b;
border-color: #413d4b;  
}
.s-6 .btn:hover {
  color: #fff;
  background-color: #413d4b;
  border-color: #413d4b;
  transition: all 0.5s;
}


/*Медиа Секция 6*/

@media(max-width: 1600px){
  .s-6{
    max-width: 1330px;
    margin: 0 auto;
  }
  
}
@media(max-width: 767px){
  .s-6{
    padding: 35px 0;
  }
  .projects{
    padding: 35px 0;
  }
}

@media(max-width: 530px){
  .s-6{
    padding: 40px 0;
    padding-top: 25px;
  }
  .s-6__header{
    display: block;
  }
  .s-6 .title{
    text-align: center;
  }
  .all-proj{
    float: right;
    margin-top: 35px;
  }
  .projects{
    flex-direction: column;
    padding: 10px 0px 20px 0px;


  }
  .projects__item{
    margin: 0 auto;
    margin-bottom: 15px;
  }

}