@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Roboto, serif;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}


.wrapper{
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 970px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

}
.main-screen {
  flex: 1 0 100%;
  position: relative;

}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  font-size: 20px;
}





/*Header*/

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 15px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
}
.header__logo {
 
  z-index: 3;
}
.header__row label {
  font-size: 30px;
  font-weight: 100;
  color: #37acc6;
  margin: 0px 0px 0px 7px;
}
.header__menu {}


.menu {}
.menu__icon {}
.icon-menu {}


.menu__body {}
.menu__list {
  display: flex;
  
}
.menu__link {
  color: #fff;
  font-weight: 900;
  font-size: 13px;
  line-height: auto;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin: 0px 0px 0px 25px;
}
.menu__link:hover {
  color: #00c9bb;
}


@media(max-width: 767px){

  .header__row {
    flex-direction: column;
  }
  .menu__body{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #2cc2; 
    padding: 80px 0px 0px 0px;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
  .menu__body.active{
    transform: translateY(0%);
  }
  .menu__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__link {
    color: #37acc6;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }


  .icon-menu {
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    top: 18px;
    right: 15px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span{
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child{
    top: 0;
  }
  .icon-menu span:last-child{
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }

}

